# Server Config
USER_AGENT=searchcraft-mcp-server/<project-version>
DEBUG=true # true | false
LOG_LEVEL=LOG # ERROR | WARN | INFO | LOG (only used when DEBUG=true)
PORT=3100

# Searchcraft Config
ENDPOINT_URL= # The endpoint url of your Searchcraft Cluster
ADMIN_KEY= # The admin key (super user key) of your Searchcraft Cluster
