# Server Config
USER_AGENT=searchcraft-mcp-server/<project-version>
DEBUG=true # true | false
LOG_LEVEL=LOG # ERROR | WARN | INFO | LOG (only used when DEBUG=true)
PORT=3100

# Searchcraft Config
ENDPOINT_URL=http://localhost:8000 # The endpoint url of your Searchcraft Cluster (e.g., https://your-cluster.search.searchcraft.io or http://localhost:8000)
CORE_API_KEY=xyz123 # The Searchcraft API key of your Searchcraft cluster. Must match the permissions required by the tools you are using.

